.git
.github
.devcontainer
.turbo
node_modules
**/node_modules
apps/cms/.cache
apps/cms/.tmp
apps/cms/.strapi
apps/cms/types/generated
apps/web/.astro
.env
.env.local
.env.*.local
# Prevent broken symlinks created by scripts/link-env.mjs from leaking into the image
apps/**/.env
*.log
